.text-one{
    width: 210px;
}
.main button{
    background-color: red;
    color: white;
    height: 55px;
    margin-left: 10px;
    width: 150px;
}
.main  button:hover{
    background-color: #232b38;
}